In [1]:
#Dictionary
numdict=dict(I="one", II="Two", III="Three")
print(numdict)

{'I': 'one', 'II': 'Two', 'III': 'Three'}

In [5]:
#Access Dictionary
numdict=dict((("I", "one"), ("II", "Two"), ("III", "Three")))
print(numdict)

{'I': 'one', 'II': 'Two', 'III': 'Three'}

In [17]:
capital={"usa":"Washington DC", "France":"Paris", "India":"New Delhi"}
print(capital["usa"], capital["France"])

Washington DC Paris

In [18]:
#Get Method
capital={"usa":"Washington DC", "France":"Paris", "India":"New Delhi"}
print(capital.get("Usa"), capital.get("france"))

None None

In [23]:
capital={"usa":"Washington DC", "France":"Paris", "India":"New Delhi"}
print(capital.keys())

dict_keys(['usa', 'France', 'India'])

In [24]:
capital={"usa":"Washington DC", "France":"Paris", "India":"New Delhi"}
print(capital.values())

dict_values(['Washington DC', 'Paris', 'New Delhi'])

In [25]:
capital={"usa":"Washington DC", "France":"Paris", "India":"New Delhi"}
print(capital.items())

dict_items([('usa', 'Washington DC'), ('France', 'Paris'), ('India', 'New Delhi')])

In [27]:
#Assesing in loop
d1={"name":"ashish","age":45,"city":"lapataganj"}
for i in d1:
    print(i)

name
age
city

In [30]:
d1={"name":"ashish","age":45,"city":"lapataganj"}
for i,j in d1.items():
    print(i,j)

name ashish
age 45
city lapataganj

In [31]:
d1={"name":"ashish","age":45,"city":"lapataganj"}
for i in d1.values():
    print(i)

ashish
45
lapataganj

In [35]:
#update Dictionary
captains={"England":"Root","Australia":"Paine", "India":"Dhoni"}
print(captains)
captains["India"]="virat"
captains["Australia"]="Paine"
print(captains)

{'England': 'Root', 'Australia': 'Paine', 'India': 'Dhoni'}
{'England': 'Root', 'Australia': 'Paine', 'India': 'virat'}

In [36]:
captains={"England":"Root","Australia":"Paine", "India":"Dhoni"}
captains["south africa"]="phessis"
print(captains)

{'England': 'Root', 'Australia': 'Paine', 'India': 'Dhoni', 'south africa': 'phessis'}

In [38]:
#Delete Values From Dictionary
captains={"England":"Root","Australia":"Paine", "India":"Dhoni"}
print(captains)
del captains["Australia"]
print(captains)

{'England': 'Root', 'Australia': 'Paine', 'India': 'Dhoni'}
{'England': 'Root', 'India': 'Dhoni'}

In [39]:
#pop Item Method
captains={"England":"Root","Australia":"Paine", "India":"Dhoni"}
print(captains)
captains.popitem()
print(captains)

{'England': 'Root', 'Australia': 'Paine', 'India': 'Dhoni'}
{'England': 'Root', 'Australia': 'Paine'}

In [3]:
#Multi Demensional Dictionary
d1={"Name":"steve", "Age":25,"Marks":60}
d2={"Name":"Lovely", "Age":20,"Marks":90} 
d3={"Name":"Asha", "Age":25,"Marks":80} 
students={1:d1,2:d2,3:d3}
print(students)
print(students[1])
print(students[2])
print(students[3])

{1: {'Name': 'steve', 'Age': 25, 'Marks': 60}, 2: {'Name': 'Lovely', 'Age': 20, 'Marks': 90}, 3: {'Name': 'Asha', 'Age': 25, 'Marks': 80}}
{'Name': 'steve', 'Age': 25, 'Marks': 60}
{'Name': 'Lovely', 'Age': 20, 'Marks': 90}
{'Name': 'Asha', 'Age': 25, 'Marks': 80}

In [4]:
#Clear Dictionary
romannums={"I":1,"II":2,"III":3,"IV":4, "V":5}
print("Dictionary:",romannums)
romannums.clear()
print("Dictionary after calling Clear() Method:",romannums)

Dictionary: {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}
Dictionary after calling Clear() Method: {}

In [6]:
#Copy Method()
romannums={"I":1,"II":2,"III":3,"IV":4, "V":5}
newromannums=romannums.copy()
print("original dictionary:", romannums)
print("Copied dictionary:", newromannums)

original dictionary: {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}
Copied dictionary: {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}

In [8]:
#Fromkeys() Method
keys={"Mumbai","Bangalore","Chicago","New York"}
value="City"
dictionary=dict.fromkeys(keys,value)
print(dictionary)

{'New York': 'City', 'Bangalore': 'City', 'Mumbai': 'City', 'Chicago': 'City'}

In [9]:
keys={"Mumbai","Bangalore","Chicago","New York"}
dictionary=dict.fromkeys(keys)
print(dictionary)

{'New York': None, 'Bangalore': None, 'Mumbai': None, 'Chicago': None}

In [12]:
chDict=dict.fromkeys("Hello", "Char")
print(chDict)

{'H': 'Char', 'e': 'Char', 'l': 'Char', 'o': 'Char'}

In [13]:
#Python Dictionary Items()
romannums={"I":1,"II":2,"III":3,"IV":4, "V":5}
dictview=romannums.items()
print(dictview)

dict_items([('I', 1), ('II', 2), ('III', 3), ('IV', 4), ('V', 5)])

In [14]:
#Python Dictionary Keys()
romannums={"I":1,"II":2,"III":3,"IV":4, "V":5}
dictview=romannums.keys()
print(dictview)

dict_keys(['I', 'II', 'III', 'IV', 'V'])

In [15]:
#Python Dictionary Pop()
romannums={"I":1,"II":2,"III":3,"IV":4, "V":5}
deletedvalue=romannums.pop("V")
print("the deleted value is:",deletedvalue)
print("the Updated value is:",romannums)

the deleted value is: 5
the Updated value is: {'I': 1, 'II': 2, 'III': 3, 'IV': 4}

In [16]:
romannums={"I":1,"II":2,"III":3,"IV":4, "V":5}
deletedvalue=romannums.pop("IV")
print("the deleted value is:",deletedvalue)
print("the Updated value is:",romannums)

the deleted value is: 4
the Updated value is: {'I': 1, 'II': 2, 'III': 3, 'V': 5}

In [17]:
romannums={"I":1,"II":2,"III":3,"IV":4, "V":5}
deletedvalue=romannums.pop("VII")
print("the deleted value is:",deletedvalue)
print("the Updated value is:",romannums)

KeyError: 'VII'

In [18]:
romannums={"I":1,"II":2,"III":3,"IV":4, "V":5}
deletedvalue=romannums.pop("VII", "not found")
print("the deleted value is:",deletedvalue)
print("the Updated value is:",romannums)

the deleted value is: not found
the Updated value is: {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}

In [19]:
#Uptade () Method
romannums={"I":1,"II":2,"III":3}
print("Dictionary:",romannums)
anotherromannums={"IV":4, "V":5}
romannums.update(anotherromannums)
print("updated dictionary:",romannums)

Dictionary: {'I': 1, 'II': 2, 'III': 3}
updated dictionary: {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}

In [20]:
#Value () Method
romannums={"I":1,"II":2,"III":3}
values=romannums.values()
print(values)

dict_values([1, 2, 3])