In [2]:
#For Loop
for i in "Tiruvantampuram":
      print(i)

T
i
r
u
v
a
n
t
a
m
p
u
r
a
m

In [6]:
for i in "Tiruvantampuram":
     if i in ['a', 'e', 'i', 'o', 'u']:
             print(i)

i
u
a
a
u
a

In [7]:
for i in "Tiruvantampuram":
     if i not in ['a', 'e', 'i', 'o', 'u']:
             print(i)

T
r
v
n
t
m
p
r
m

In [9]:
for i in [23,25,27,29,20]:
      print(i)

23
25
27
29
20

In [10]:
#Range()
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(1,11):
      print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
for i in range(1,100,4):
    print(i,end=" ")

1 5 9 13 17 21 25 29 33 37 41 45 49 53 57 61 65 69 73 77 81 85 89 93 97

In [17]:
for i in range(1,101):
    if i%2==0:
      print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [19]:
#sum of even numbers & odd Numbers Seprately
se=0
so=0
for i in range(1,100):
    if i%2==0:
        se=se+i
    else:
        so=so+i
print("the sum of even numbers",se)
print("the sum of Odd numbers",so)

the sum of even numbers 2450
the sum of Odd numbers 2500

In [26]:
for i in range(100,0,-1):
        print(i,end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [28]:
#Table
n=int(input("enter the number"))
for i in range(1,11):
     print(n,"*",i, "=", n*i)

enter the number 12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [29]:
#Factorial
n=int(input("enter the number"))
f=1
for i in range (n,0,-1):
    f=f*i
print("the fractorial is", f)

enter the number 9

the fractorial is 362880

In [33]:
#Factors
n=int(input("enter the number"))
for i in range(1,n+1):
    if n%i==0:
        print(i)

enter the number 32

1
2
4
8
16
32

In [45]:
for i in range(1,100):
     n=i
     j=1
     co=0
     while j<=n:
         if n%j==0:
            co=co+1
         j=j+1
     if co==2:
            print(i, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [5]:
#Palendrum number in given
for i in range (11,999):
    n=i
    rev=0
    while n>0:
        rev=rev*10+n%10
        n=n//10
    if rev==i:
          print(i,end=" ")

11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989

In [5]:
#Nested For Loop
for i in range(5):
    for j in range(5):
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [9]:
for i in range(5):
    for j in range(i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [11]:
for i in range(1,6):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [12]:
for i in range(1,6):
    for j in range(i):
        print(j, end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [14]:
a=1
for i in range(5):
    for i in range(i+1):
     print(a, end="")
     a=a+1
    print()

1
23
456
78910
1112131415

In [19]:
#Nested If
a=int(input("enter the number"))
b=int(input("enter the number"))
c=int(input("enter the number"))
if a>b:
    if a>c:
     print("A is Greatest")
    else:
     print("C is Greatest")
else:
    if b>c:
     print("B is Greatest")
    else:
     print("C is Greatest")

enter the number 55
enter the number 76
enter the number 88

C is Greatest

In [21]:
#Count Of digits
n=int(input("enter the number"))
co=0
while n>0:
    rem=n%10
    co=co+1
    n=n//10
print("Count of digits", co)

enter the number 1234567899999999

Count of digits 16

In [26]:
#Global Armstrone Number
n=int(input("enter the number"))
n1=n
n2=n
co=0
sum=0
while n>0:
    rem=n%10
    co=co+1
    n=n//10
while n1>0:
    rem=n1%10
    sum=sum+rem**co
    n1=n1//10
if sum==n2:
    print("Armstone Number")
else:
    print("Not armstrone Number")

enter the number 1634

Armstone Number

In [1]:
#Break
for i in range(1,11):
    if i==5:
        break
    print(i,end=" ")

1 2 3 4

In [2]:
#Pass
for i in range(1,11):
    if i==5:
        pass
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [3]:
#Coutinue
for i in range(1,11):
    if i<=5:
        continue
    print(i,end=" ")

6 7 8 9 10

In [6]:
L="lovely"
for i in L:
    if i=="v":
        continue
        print("hello")
    else:
        print(i)

l
o
e
l
y

In [7]:
L="lovely"
for i in L:
    if i=="v":
        break
    print(i)

l
o

In [8]:
L="lovely"
for i in L:
    if i=="v":
        pass
    print(i)

l
o
v
e
l
y