In [2]:
#Default Function
def addition():
    a=int(input("enter the number"))
    b=int(input("enter the number"))
    c=a+b
    print("the sum is",c)
addition()

enter the number 50
enter the number 60

the sum is 110

In [6]:
addition()

enter the number 50
enter the number 50

the sum is 100

In [13]:
def simple_interst():
    p=int(input("enter the number"))
    r=int(input("enter the number"))
    t=int(input("enter the number"))
    si=p*r*t/100
    print("Simple interst is",si)
simple_interst()

enter the number 23
enter the number 44
enter the number 55

Simple interst is 556.6

In [16]:
def average():
    a=int(input("enter the number"))
    b=int(input("enter the number"))
    c=int(input("enter the number"))
    avg=a+b+c/3
    print("average is",avg)
average()

enter the number 22
enter the number 44
enter the number 55

average is 84.33333333333333

In [17]:
def percentage():
    l=int(input("enter the number"))
    o=int(input("enter the number"))
    v=int(input("enter the number"))
    e=int(input("enter the number"))
    l=int(input("enter the number"))
    y=int(input("enter the number"))
    s=l+o+v+e+l+y
    per=s*100/600
    print("percentage is",per)
percentage()

enter the number 77
enter the number 88
enter the number 99
enter the number 88
enter the number 77
enter the number 66

percentage is 82.5

In [23]:
def even_odd():
    n=int(input("enter the number"))
    if n%2==0:
       print("even number")
    else:
       print("odd number")
even_odd()

enter the number 4

even number

In [25]:
def vote_eligiblity():
    age=int(input("enter the number"))
    if age>=18:
       print("eligible to vote")
    else:
       print("not eligible to vote")
vote_eligiblity()

enter the number 44

eligible to vote

In [4]:
#Arguement Function
#Addition
def addition(a,b):
    c=a+b
    print("the sum is",c)
addition(23,34)

the sum is 57

In [5]:
#Addition
x=int(input("enter the number"))
y=int(input("enter the number"))
addition(x,y)

enter the number 50
enter the number 50

the sum is 100

In [10]:
#Average of three Numbers
def average(a,b,c):
    avg=(a+b+c)/3
    print("Average is",avg)
average(12,23,34)

Average is 23.0

In [11]:
a=int(input("enter the number"))
b=int(input("enter the number"))
c=int(input("enter the number"))
average(a,b,c)

enter the number 12
enter the number 23
enter the number 34

Average is 23.0

In [13]:
#Return Type Function
def factorial(n):
    f=1
    while n>0:
        f=f*n
        n=n-1
    return f
x=factorial(7)
print(x)
print(factorial(8))

5040
40320

In [17]:
def reverse(n):
    rev=0
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    return rev
x=reverse(12345)
print(x)
print(reverse(2345))

54321
5432

In [18]:
def lovely(a,b):
    return a+b, a-b, a*b, a/b
x=lovely(34,12)
print(x)
print(type(x))

(46, 22, 408, 2.8333333333333335)
<class 'tuple'>

In [19]:
def lovely(a,b):
    return a+b, a-b, a*b, a/b
x,y,z,w=lovely(34,12)
print("sum is",x)
print("sub is",y)
print("mul is",z)
print("div is",w)

sum is 46
sub is 22
mul is 408
div is 2.8333333333333335

In [20]:
#Placeholder Arguement Function
#Addition
def addition(a,b=200,c=300):
    return a+b+c
print(addition(700))
print(addition(500,500))
print(addition(400,500,900))

1200
1300
1800

In [1]:
def datascience(a,b,c,d,e):
    return (a+b,a*b)
datascience(2,4,6,7,5)

(6, 8)

In [2]:
def sums(r,t,u):
    return(r+t+u)
lovely=sums(787,2377,4567)
lovely

7731

In [9]:
def hello(a,b):
    return("My name is {} and gender is {}".format(a,b))
a=hello("charles","male")
a

'My name is charles and gender is male'

In [11]:
print("{} and {}".format("hello", "bye"))

hello and bye

In [13]:
def addition(a,b=700,c=600):
    return a+b+c
print(addition(300))
print(addition(a=400,c=500))
print(addition(100,2000,3000))

1600
1600
5100

In [14]:
def hello(name,age=29,gender="Male"):
    return("my name is {} and age is {} and gender is {}".format(name,age,gender))
hello("Eshank")

'my name is Eshank and age is 29 and gender is Male'

In [15]:
#keyword arguement function
u=[1,2,3,4]
u

[1, 2, 3, 4]

In [16]:
u=[1,2,3,4]
print(*u)

1 2 3 4

In [18]:
a,*b,c=[1,2,3,4,5,6,7,8]
a

8

In [19]:
a,*b,c=[1,2,3,4,5,6,7,8]
c

8

In [21]:
a,*b,c=[1,2,3,4,5,6,7,8]
print(*b)

2 3 4 5 6 7

In [30]:
a=[1,2,3,5]
b=[4,6,7,8]
c=[a,b]
c

[[1, 2, 3, 5], [4, 6, 7, 8]]

In [24]:
d=[*a,*b]
d

[1, 2, 3, 5, 4, 6, 7, 8]

In [27]:
a+b

[1, 2, 3, 5, 4, 6, 7, 8]

In [31]:
a.extend(b)
a

[1, 2, 3, 5, 4, 6, 7, 8]

In [32]:
a=[*"realpython"]
a

['r', 'e', 'a', 'l', 'p', 'y', 't', 'h', 'o', 'n']

In [33]:
b=list("realpython")
b

['r', 'e', 'a', 'l', 'p', 'y', 't', 'h', 'o', 'n']

In [39]:
d1={1:"one",2:"two"}
d2={3:"Three", 4:"Four"}
d1.update(d2)
d1

{1: 'one', 2: 'two', 3: 'Three', 4: 'Four'}

In [42]:
d1={1:"one",2:"two"}
d2={3:"Three", 4:"Four"}
d3={**d1,**d2}
d3

{1: 'one', 2: 'two', 3: 'Three', 4: 'Four'}

In [46]:
def my_sum(a,b,c,d,e):
    return(a+b+c+d+e)
mylist=[1,2,3,4,5]
my_sum(*mylist)

15

In [51]:
def my_sum(*a):
    result=0
    for i in a:
        result=result+i
    return result
list1=[1,2,3]
list2=[4,5]
list3=[6,7,8,9]
my_sum(*list1,*list2,*list3)

45

In [1]:
a=[]
def addition(n):
    for i in n:
        a.append(i+i)
    return a
number=[12,23,34,45]
addition(number)

[24, 46, 68, 90]

In [1]:
#Recursion
#sum of n natural numbers
def sum(n):
    if n==1:
        return 1
    else:
        return n+sum(n-1)
print(sum(7))

28

In [3]:
#Factorial
def fact(n):
    if n==0:
        return 1
    elif n==1:
        return 1
    else:
        return n*fact(n-1)
print(fact(7))

5040

In [4]:
#finonacci series
f=0
s=1
for i in range(10):
    if i<=1:
        next=i
    else:
        next=f+s
        f=s
        s=next
    print(next,end=" ")

0 1 1 2 3 5 8 13 21 34