In [1]:
#Print Your Name 10 times
i=1
while i<=10:
    print("Lovely")
    i=i+1

Lovely
Lovely
Lovely
Lovely
Lovely
Lovely
Lovely
Lovely
Lovely
Lovely

In [2]:
#Print 10 Natural Numbers
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [7]:
#Sum of 10 Natural numbers
i=1
s=0
while i<=10:
    s=s+i
    i=i+1
print("the sum is",s)

the sum is 55

In [2]:
#Print all even numbers from 1 to 100
i=1
while i<=100:
   if i%2==0:
       print(i, end=" ")
   i=i+1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [1]:
#Prime Number
n=int(input("enter the number"))
i=1
co=0
while i<=n:
    if n%i==0:
        co=co+1
    i=i+1
if co==2:
    print("Prime Number")
else:
    print("Not Prime")

enter the number 2

Prime Number

In [8]:
#Factors of the numeber
n=int(input("enter the number"))
i=1
while i<=n:
    if n%i==0:
       print(i, end=" ")
    i=i+1

enter the number 23

1 23

In [4]:
#Table of a given number
n=int(input("enter the number"))
i=1
while i<=10:
    print(n, "*", i, "=",n*i)
    i=i+1

enter the number 12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [5]:
#Table of a given number
n=int(input("enter the number"))
i=1
while i<=10:
    print(n*i)
    i=i+1

enter the number 23

23
46
69
92
115
138
161
184
207
230

In [6]:
#Sum all the even number and odd numbers seprately
n=int(input("enter the numnber"))
i=1
se=0
so=0
while i<=n:
    if i%2==0:
        se=se+i
    else:
        so=so+i
    i=i+1
print("sum of even numbers", se)
print("sum of odd numbers", so)

enter the numnber 50

sum of even numbers 650
sum of odd numbers 625

In [7]:
#Print first N natural number
i=1
n=int(input("enter the number"))
while i<=n:
    print(i, end=" ")
    i=i+1

enter the number 10

1 2 3 4 5 6 7 8 9 10

In [12]:
#Factorial Number
n=int(input ("enter the number"))
f=1
while n>0:
    f=f*n
    n=n-1
print("the factorial number is", f)

enter the number 34

the factorial number is 295232799039604140847618609643520000000

In [13]:
#Sum of the digits
n=int(input("enter the number"))
s=0
while n>0:
     rem=n%10
     s=s+rem
     n=n//10
print("the sum of the digits is", s)

enter the number 2345

the sum of the digits is 14

In [14]:
#Reverse of a number
n=int(input("enter the numner"))
rev=0
while n>0:
    rem=n%10
    rev=rev*10+rem
    n=n//10
print ("The Reverse of the number is", rev)

enter the numner 23456

The Reverse of the number is 65432

In [23]:
#Pallendrome Number
n=int(input("enter the number"))
n1=n
rev=0
while n>0:
    rem=n%10
    rev=rev*10+rem
    n=n//10
if rev==n1:
    print("Pallendrom Number")
else:
    print("Not Pallendrom number")

enter the number 121

Pallendrom Number

In [22]:
#Armstone Number
n=int(input("enter the number"))
s=0
n1=n
while n>0:
    rem=n%10
    s=s+rem**3
    n=n//10
if  s==n1:
    print("Armstone Number")
else:
    print("not armstone number")

enter the number 153

Armstone Number

In [26]:
#For Loop
for i in "Tiruwanpuram":
         print(i)

T
i
r
u
w
a
n
p
u
r
a
m

In [27]:
for i in "Tivuwantpuram":
    if i in ['a', 'e','i','o','u']:
        print(i)

i
u
a
u
a

In [29]:
for i in [23, 24, 25, 27, 28, 30]:
      print(i)

23
24
25
27
28
30

In [30]:
#Range()
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [32]:
for i in range(1,11):
      print(i)

1
2
3
4
5
6
7
8
9
10

In [33]:
for i in range(1,100,4):
    print(i,end="")

15913172125293337414549535761656973778185899397

In [43]:
for i in range(1,100):
    if i%2==0:
        print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [37]:
#sum of the even numbers & odd numbers
se=0
so=0
for i in range(1,101):
    if i%2==0:
        se=se+i
    else:
        so=so+i
print ("The Sum of even numbers is", se)
print ("The Sum of even numbers is", so)

The Sum of even numbers is 2550
The Sum of even numbers is 2500

In [42]:
for i in range (100, 0, -1):
    print(i, end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [45]:
n=int(input("enter the number"))
for i in range(1,11):
    print(n, "*", i, "=", n*i)

enter the number 12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [49]:
#Factors
n=int(input("enter the number"))
for i in range(1,n+1):
    if n%i==0:
        print(i)

enter the number 12

1
2
3
4
6
12

In [50]:
#Factorial Numnber
n=int(input("enter the number"))
f=1
for i in range(n,0,-1):
    f=f*1
print("The factorial number is", f)

enter the number 32

The factorial number is 1